<div class= "hero">
	<br /><br />
	<div class= "frosty col-10 offset-1 text-center">
		<br />
		<h1>Learn Magic from the Pros</h1>
		<br />
  		<h2>I'm an illusionist, Michael.</h2>
  		<br />
  		<%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
  		<br /><br />
  	</div>
  	<br />
</div>

<br />

<div>
	<div class= "row feature text-center">
		<div class= "col-12 col-sm">
			<h3>Learn virtually <br />
			anything!</h3>
			<br />
			<p>We've got a wide selection of topics to choose from.  Learn at your pace 24/7 or join a class and learn together.</p>
		</div>

		<div class= "col-12 col-sm">
			<h3>Amazing <br />
			Instructors</h3>
			<br />
			<p>Our instructors provide detailed lesson plans to help you along the way, and if you get stuck you can always reach out.</p>
		</div>

		<div class= "col-12 col-sm">
			<h3>Money Back <br />
			Garuntee</h3>
			<br />
			<p>Flixter offers a 30 day money back garuntee.  Start learning now.  If you're not completely satisfied, just let us know.</p>
		</div>
	</div>
</div>

<br />