<br />

<div class="booyah-box col-10 offset-1">
  <h1 class="text-center">Learn something today</h1>
  
  <hr />

  <% @courses.each do |course| %>
  <h2>
    <%= link_to course.title, course_path(course) %>
  </h2>
  <br />
  <div class="row">
    <div class="col-sm-3 col-12 img-fluid">
      <%= image_tag course.image.url, width: 220  %>
    </div>
    <div class="col-sm-5 col-12">
      <%= course.description %>
    </div>
    <div class="col-sm-4 col-12 text-center">
      <%= link_to 'More Details...', course_path(course), class: 'btn btn-primary btn-large' %>
    </div>
  </div>
  <br class= "clr" />
<% end %>

</div>